@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'KodeMono';
  src: url('./assets/fonts/KodeMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
